---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import McpSection from "../components/McpSection.astro";
import HowItWorks from "../components/HowItWorks.astro";
import ProtocolTable from "../components/ProtocolTable.astro";
import FeaturesGrid from "../components/FeaturesGrid.astro";
import IntegrationsGrid from "../components/IntegrationsGrid.astro";
import WhyOpenSource from "../components/WhyOpenSource.astro";
import CtaSection from "../components/CtaSection.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main id="main-content">
    <Hero />
    <McpSection />
    <HowItWorks />
    <ProtocolTable />
    <FeaturesGrid />
    <IntegrationsGrid />
    <WhyOpenSource />
    <CtaSection />
  </main>
  <Footer />
</Layout>
